footer {
    position: relative;
    bottom: 0;
    width: 98%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background-color: #b54141;
    color: #fff;
  }
  